@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;900&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}
.gradient-text {
    background: linear-gradient(45deg, #f59e0b, #ef4444);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
